<section id="home">

    <div class="main-top">
        <div class="main-top-text-left">
            The
            <span id="ult_crpto_text">Ultimate Cryptocurrency Platform</span>
            Trusted By Millions.
        </div>
        <div class="main-top-right">
            <div class="main-top-right-listings">

                <% if (locals.coins) { %>

                    <ul class="home-listings-container">

                        <li class="home-listings-header">
                            <div class="home-listings-header-left">
                                <div>
                                    <span>Popular</span>
                                    <div class="selection-bar"></div>
                                </div>
                                <div>
                                    <span>New Listing</span>
                                    <div class="selection-bar"></div>
                                </div>
                            </div>
                            <div class="home-listings-header-right">
                                <a href="">View All 100+ coins</a>
                            </div>

                        </li>

                        <% coins.forEach((coin)=> { %>
                            <% console.log(coin) %>
                                <li class="home-listings-item-container">
                                    <a href="">
                                        <div class="home-listings-item">

                                            <div class="home-listings-item-left">
                                                <div class="home-listings-symbol-container">
                                                    <img src="<%= coin.image %>" alt="">
                                                    <span>
                                                        <%= coin.symbol.toUpperCase() %>
                                                    </span>
                                                    <span>
                                                        <%= coin.name %>
                                                    </span>
                                                </div>


                                                <span>
                                                    $<%= coin.current_price.toLocaleString() %>
                                                </span>
                                            </div>


                                            <span
                                                style="color: <%= coin.price_change_percentage < 0 ? '#f2455c' : '#2ebd85' %>;">
                                                <% let formatted_price_change=(coin.price_change_percentage>= 0 ? "+" :
                                                    "") + coin.price_change_percentage.toFixed(2) + "%"%>
                                                    <%= formatted_price_change %>
                                            </span>

                                        </div>
                                    </a>
                                </li>

                                <% }) %>

                    </ul>



                    <% } %>


            </div>
        </div>

</section>