<section id="home">

    <div class="main-top">
        <div class="main-top-text-left">
            The
            <span id="ult_crpto_text">Ultimate Cryptocurrency Platform</span>
            Trusted By Millions.
        </div>
        <div class="main-top-right">


            <% if (locals.coins) { %>

                <div class="main-top-right-listings">

                    <div class="main-top-right-listings-container">

                        <div class="main-top-right-listings-header">

                            <div class="main-top-right-listings-header-left">
                                <div class="main-top-right-listings-header-left-left">
                                    <div>Popular</div>
                                    <div class="selection-bar"></div>
                                </div>
                                <div class="main-top-right-listings-header-left-right">
                                    <div>New Listings</div>
                                    <div class="selection-bar"></div>
                                </div>
                            </div>
                            <a href="" class="main-top-right-listings-header-right">
                                View All 100+ Coins
                            </a>

                        </div>
                        <div class="main-top-right-listings-items">

                            <% coins.forEach((coin)=> { %>

                                <a href="" class="main-top-right-listings-link-container">

                                    <div class="main-top-right-listings-link-left">

                                        <div class="main-top-right-listings-link-left-left">
                                            <img src="<%= coin.image %>" alt="crypto-icon"
                                                class="main-top-right-listings-link-icon">
                                            <div class="main-top-right-listings-link-symbol">
                                                <%=coin.symbol %>
                                            </div>
                                            <div class="main-top-right-listings-link-name">
                                                <%=coin.name %>
                                            </div>
                                        </div>


                                        <div class="main-top-right-listings-link-left-right">
                                            <%=coin.current_price %>
                                        </div>

                                    </div>

                                    <div class="main-top-right-listings-link-change">
                                        <%=coin.price_change_percentage %>
                                    </div>

                                </a>

                                <% }) %>



                        </div>


                    </div>


                </div>

                <% } %>




        </div>
    </div>

</section>