<section id="home">

    <div class="main-top">
        <div class="main-top-text-left">
            The
            <span id="ult_crpto_text">Ultimate Cryptocurrency Platform</span>
            Trusted By Millions.
        </div>
        <div class="main-top-right">


            <% if (locals.trendingCoins) { %>

                <div class="main-top-right-listings">

                    <div class="main-top-right-listings-container">

                        <div class="main-top-right-listings-header">

                            <div class="main-top-right-listings-header-left">
                                <div class="main-top-right-listings-header-left-left active">
                                    <div>Trending</div>
                                    <div class="selection-bar trending-selection-bar active"></div>
                                </div>
                                <div class="main-top-right-listings-header-left-right">
                                    <div>Top Listings</div>
                                    <div class="selection-bar top-selection-bar"></div>
                                </div>
                            </div>
                            <a href="" class="main-top-right-listings-header-right">
                                <div>View All 100+ Coins</div>
                                <i class='bx  bx-chevron-right'></i>
                            </a>

                        </div>
                        <div class="main-top-right-listings-items main-top-right-listings-items-trending active">
                            <% trendingCoins.forEach((coin)=> { %>

                                <a href="" class="main-top-right-listings-link-container">

                                    <div class="main-top-right-listings-link-left">

                                        <div class="main-top-right-listings-link-left-left">
                                            <img src="<%= coin.image %>" alt="crypto-icon"
                                                class="main-top-right-listings-link-icon">
                                            <div class="main-top-right-listings-link-symbol">
                                                <%=coin.symbol %>
                                            </div>
                                            <div class="main-top-right-listings-link-name">
                                                <%=coin.name %>
                                            </div>
                                        </div>


                                        <div class="main-top-right-listings-link-left-right">
                                            <%=coin.current_price %>
                                        </div>

                                    </div>

                                    <div class="main-top-right-listings-link-change"
                                        style="color: <%= coin.price_change_percentage > 0 ? '#2ebd85' : '#f2455c' %>;">
                                        <%=(coin.price_change_percentage>= 0 ? "+" : "") + coin.price_change_percentage
                                            + "%"%>
                                    </div>

                                </a>

                                <% }) %>
                        </div>

                        <div class="main-top-right-listings-items main-top-right-listings-items-top">
                            <% priceCoins.forEach((coin)=> { %>

                                <a href="" class="main-top-right-listings-link-container">

                                    <div class="main-top-right-listings-link-left">

                                        <div class="main-top-right-listings-link-left-left">
                                            <img src="<%= coin.image %>" alt="crypto-icon"
                                                class="main-top-right-listings-link-icon">
                                            <div class="main-top-right-listings-link-symbol">
                                                <%=coin.symbol %>
                                            </div>
                                            <div class="main-top-right-listings-link-name">
                                                <%=coin.name %>
                                            </div>
                                        </div>


                                        <div class="main-top-right-listings-link-left-right">
                                            <%=coin.current_price %>
                                        </div>

                                    </div>

                                    <div class="main-top-right-listings-link-change"
                                        style="color: <%= coin.price_change_percentage > 0 ? '#2ebd85' : '#f2455c' %>;">
                                        <%=(coin.price_change_percentage>= 0 ? "+" : "") +
                                            coin.price_change_percentage.toFixed(2) + "%"%>
                                    </div>

                                </a>

                                <% }) %>
                        </div>

                    </div>


                </div>

                <% } %>

                    <% if (locals.news) { %>

                        <div class="main-top-right-news">

                            <div class="main-top-right-news-container">

                                <div class="news-header">
                                    News
                                </div>




                                <div class="news-item">
                                    <% news.forEach((news)=> { %>
                                        <a href="<%= news.link %>">
                                            <%= news.title %>
                                        </a>
                                        <% }) %>
                                </div>




                            </div>

                        </div>


                        <% } %>




        </div>
    </div>

</section>