<div class="listings-grid-wrapper">

    <div class="listings-grid-container">

        <% listings.forEach((listing) => { %> 
            <a href="">
            <div class="listings-grid-item">

                <div class="listings-grid-item-left">
                    <div class="listing-symbol"><%= listing.symbol %></div>
                    <div class="listing-name"><%= listing.name %></div>
                    <div class="listing-price"><%= listing.current_price %></div>
                    <div class="listing-stats">
                        
                        <div class="listing-price-change" style="color: <%= listing.price_change < 0 ? 'red' : 'green' %>;"><%= Number(listing.price_change).toFixed(2) %></div>
                        <div class="listing-price-change-percent"><%= Number(listing.price_change_percentage).toFixed(2) %>%</div>
                    </div>
                </div>
                
                <div class="listings-grid-item-right">
                    <div class="listing-image">
                        <img src="<%= listing.image %>" alt="">
                    </div>
                    <div class="listing-rank">#<%= (listings.indexOf(listing) + 1) %></div>
                </div>

            </div>
            </a>
            
            
            <% }) %>


    </div>

</div>